<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculator</title>

    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="display.css">
    <link rel="stylesheet" href="keyboard.css">
</head>
<body>
    <div class="wrapper">
        <div class="calculator light-mode">
            <div class="display">
                <div class="switch-mode-container">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div class="expression-container">
                    <span id="expression"></span>
                </div>
                <div class="result-container" id="result"></div>
            </div>
            <div class="keyboard">
                <button value="" class="" id="clear-button">AC</button>
                <button value="" class="" id="delete-button">C</button>
                <button value="%" class="operation-button" id="percent-button">%</button>
                <button value="/" class="operation-button">/</button>
                <button value="7" class="number-button">7</button>
                <button value="8" class="number-button">8</button>
                <button value="9" class="number-button">9</button>
                <button value="*" class="operation-button">x</button>
                <button value="4" class="number-button">4</button>
                <button value="5" class="number-button">5</button>
                <button value="6" class="number-button">6</button>
                <button value="-" class="operation-button">-</button>
                <button value="1" class="number-button">1</button>
                <button value="2" class="number-button">2</button>
                <button value="3" class="number-button">3</button>
                <button value="+" class="operation-button">+</button>
                <button value="0" class="number-button" style="grid-column: 1 / 3;">0</button>
                <button value="." class="" id="point-button">.</button>
                <button value="" class="" id="equal-button">=</button>
            </div>
        </div>
    </div>

    <script type="module" src="../controller/user.js"></script>
    <script type="module" src="../model/logic.js"></script>
</body>
</html>